pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Silver_Data_Lake/trip_transacation_fact"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://logicapprgadf.azurewebsites.net:443/api/email_Trigger_logic_app/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=A4xfadvOiFSRiGEEdzNKrLvf_5bHZgLGcvnDOomRx2Y",
					"method": "POST",
					"body": {
						"value": "{\n    \"pipeline\":\"@{pipeline().Pipeline}\",\n    \"Success/Failure\":\"Sucess\",\n    \"DatafactoryName\":\"@{pipeline().DataFactory}\",\n    \"PipelinerunId\":\"@{pipeline().RunId}\",\n    \"Time\":\"@{pipeline().TriggerTime}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_Message",
					"value": {
						"value": "@activity('Notebook1').output.runError",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://logicapprgadf.azurewebsites.net:443/api/email_Trigger_logic_app/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=A4xfadvOiFSRiGEEdzNKrLvf_5bHZgLGcvnDOomRx2Y",
					"method": "POST",
					"body": {
						"value": "{\n    \"pipeline\":\"@{pipeline().Pipeline}\",\n    \"Success/Failure\":\"Sucess\",\n    \"DatafactoryName\":\"@{pipeline().DataFactory}\",\n    \"PipelinerunId\":\"@{pipeline().RunId}\",\n    \"Time\":\"@{pipeline().TriggerTime}\"\n    \"Error Message\":variables('Error_Message')\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Error_Message": {
				"type": "String"
			}
		},
		"annotations": []
	}
}